@import "tailwindcss";

/* Geist Mono Font */
@font-face {
  font-family: "GeistMono";
  src: url("/src/assets/fonts/GeistMono/GeistMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("/src/assets/fonts/GeistMono/GeistMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("/src/assets/fonts/GeistMono/GeistMono-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

html,
body,
:root {
  height: 100%;
  font-family: "GeistMono", monospace;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-gray-modern-900: #121926;
  --color-gray-modern-800: #202939;
  --color-gray-modern-700: #364152;
  --color-gray-modern-600: #4b5565;
  --color-gray-modern-500: #697586;
  --color-gray-modern-400: #9aa4b2;
  --color-gray-modern-300: #cdd5df;
  --color-gray-modern-200: #e3e8ef;
  --color-gray-modern-100: #eef2f6;
  --color-gray-modern-50: #f8fafc;
  --color-gray-modern-25: #fcfcfd;

  --color-default-blue: #1849a9;
  --color-blue: #1570ef;
  --color-border-blue: #98bfff;
  --color-shadow-blue: #c4daff;
  --color-shadow-gray: #e3e8ef;

  --text-title-xs: 10px;
  --text-title-sm: 12px;
  --text-title-md: 13px;
  --text-title-lg: 16px;
  --text-title-xl: 18px;
}
